/*ASSOCIAÇÃO PELO ID DO ELEMENTO*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {font-family: 'Montserrat', sans-serif !important;}
html { scroll-behavior: smooth; }

#body1, #body3, #body5 {  padding: 40px 0px; background: #eee}
#body2, #body4, #footer, #teto { padding: 40px 0px; }
#header {background: #f8f9fa !important; position: fixed; width: 100%; z-index: 99; opacity: 90%;}

.perfilImg img { border-radius: 10px; box-shadow: 8px 8px 20px #aaa; }
    .perfilImg img:hover { transform: scale3d(1.1, 1.1, 1.1); transition: 0.3s; }

.perfil span { font-size: 15px; display: block; }

.card { margin: 15px;padding: 15px; border-radius: 5px; }
    .card:hover {transition: 0.3s; transform: scale3d(1.1, 1.1, 1.1); }
        .card .info {height: 260px;}

.card img { width: 50%; display: block; align-self: center; }
.card span { font-size: 15px;font-weight: 500; text-decoration: underline; display: block; margin-top: 15px; }
.card p { font-size: 13px; }

.conteudos .card { align-items: center; }

#redesSocais img { width: 3%; margin-right: 10px; }
    
#perfilNome { font-weight: bold; font-size: 30px; color: #565656; }
    
#perfilTitulos { font-size: 18px; margin: 20px 0px 0px 0px; text-decoration: underline; }

.navbar-nav>li { font-size: 14px; margin-left: 30px; }
    .navbar-nav>li:hover {transition: 0.3s; font-weight: bold; }
